server {
    listen 80;

    location /images {
        alias /var/www/bbs1.1/images;
    }

    location /static {
        alias /var/www/bbs1.1/static;
    }

    location = / {
        proxy_pass http://localhost:2000;
    }

    location / {
        proxy_pass http://localhost:2000;
    }

    location /blog/ {
        proxy_pass http://localhost:9191;
    }
}
